* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: system-ui, sans-serif;
  max-width: min(50rem, 95vw);
  margin: 0 auto;
  padding: 1.5rem;
  line-height: 1.4;
}

header {
  margin-bottom: 2rem;
}

nav a {
  margin-right: 1rem;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 0.5rem;
}


table {
    border-collapse: collapse;
    margin: 1rem 0;
    font-family: sans-serif;
}
table thead tr {
    background-color: hsl(0, 0%, 25%);
    color: #ffffff;
    text-align: left;
}
table th,
table td {
    padding: 0.3rem 0.8rem;
}


table tbody tr {
    border-bottom: 1px solid #dddddd;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid hsl(0, 0%, 25%);
}

footer {
  width: 100%;
}

footer div {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid #dddddd;
  display: flex; 
  justify-content: space-between;
}

footer div a {
  display: inline-block;
}

.callout {
  border-left: 4px solid;
  padding: 0.75rem 1rem;
  margin: 1rem 0;
  border-radius: 4px;
  background: #f5f5f5;
  
  font-size: 0.9rem;
}

.callout > p {
  margin-bottom: 0.2rem;
}

.callout-title {
  font-weight: bold;
  font-size: 1rem;
}

.callout-note {
  border-color: hsl(0, 0%, 25%);
  background: hsl(0, 0%, 95%);
}

.callout-info {
  border-color: hsl(211, 61%, 43%);
  background: hsl(213, 100%, 96%);
}

.callout-warning {
  border-color: #c53030;
  background: #fff5f5;
}
