:root {
  --clr-lightmode-bg: #FAF9F6;
  --clr-lightmode-fg: #161616;

  --clr-bookmode-bg: #EEE9DA;
  --clr-bookmode-fg: #2F2E2C;

  --clr-darkmode-bg: hsl(0, 0%, 9%);
  --clr-darkmode-fg: #FAF9F6;

  --clr-anchor: hsl(10, 73%, 47%);
  --clr-anchor-visited: hsl(10, 73%, 38%);

  --clr-button-bg: hsl(0,0%,25%);
  --clr-button-fg: var(--clr-lightmode-bg);
  --clr-button-bg-hover: hsl(0, 0%, 35%);

  --clr-table-thead-bg: hsl(0, 0%, 25%);
  --clr-table-thead-fg: var(--clr-lightmode-bg);
  --clr-table-tr-border: #dddddd;

  --clr-header-border: #dddddd;
  --clr-footer-border: #dddddd;

  --clr-text-muted: hsl(0, 0%, 40%);

  --clr-modeswitcher-border: hsl(0, 0%, 87.5%);

  --clr-callout-default-bg: #f5f5f5;

  --clr-callout-note-bg: hsl(0, 0%, 95%);
  --clr-callout-note-border: hsl(0, 0%, 25%);
  --clr-callout-info-bg: hsl(213, 100%, 96%);
  --clr-callout-info-border: hsl(211, 61%, 43%);
  --clr-callout-warning-bg: #fff5f5;
  --clr-callout-warning-border: #c53030;

  --clr-quiz-container-bg: hsl(0, 0%, 95%);
  --clr-quiz-container-border: hsl(0, 0%, 87.5%);
  --clr-quiz-result-bg: hsl(0, 0%, 85%);
  --clr-quiz-result-correct-bg: hsl(109, 49%, 77%);
  --clr-quiz-wrong: hsl(0, 61%, 48%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: system-ui, sans-serif;
  max-width: min(50rem, 95vw);
  margin: 0 auto;
  padding: 1rem;
  line-height: 1.4;
}

body.light {
  background-color: var(--clr-lightmode-bg);
  color: var(--clr-lightmode-fg);
}
body.book {
  background-color: var(--clr-bookmode-bg);
  color: var(--clr-bookmode-fg);

  --clr-bookmode-bg: #F5F2E7;
  --clr-bookmode-fg: #2B2B2B;

  --clr-anchor: #8A5A3F;          
  --clr-anchor-visited: #6F4A37; 

  --clr-button-bg: #C3B59F;      
  --clr-button-fg: #26221A;       
  --clr-button-bg-hover: #B3A48E; 

  --clr-table-thead-bg: #E0D7C5;  
  --clr-table-thead-fg: #2B2B2B;
  --clr-table-tr-border: #D3CCBD; 
  --clr-header-border: #D3CCBD;
  --clr-footer-border: #D3CCBD;

  --clr-text-muted: #716558;      

  --clr-modeswitcher-border: #D3CCBD;

  --clr-callout-default-bg: #EEE8DA;

  --clr-callout-note-bg: hsl(47, 47%, 89%);
  --clr-callout-note-border: #C3B59F;

  --clr-callout-info-bg: #E5EFF5;    
  --clr-callout-info-border: #5C7488;

  --clr-callout-warning-bg: #FBEDEA;
  --clr-callout-warning-border: #C56551;

  --clr-quiz-container-bg: #F3EEE1;
  --clr-quiz-container-border: #D3CCBD;

  --clr-quiz-result-bg: #E0D7C5;       
  --clr-quiz-result-correct-bg: #C6D8B6; 
  --clr-quiz-wrong: #D27A7A;

}
body.dark {
  background-color: var(--clr-darkmode-bg);
  color: var(--clr-darkmode-fg);

  --clr-anchor: hsl(10, 73%, 57%);
  --clr-anchor-visited: hsl(10, 73%, 48%);

  --clr-button-bg: hsl(0,0%,75%);
  --clr-button-fg: var(--clr-darkmode-bg);
  --clr-button-bg-hover: hsl(0, 0%, 65%);

  --clr-table-thead-bg: hsl(0, 0%, 75%);
  --clr-table-thead-fg: var(--clr-darkmode-bg);
  --clr-table-tr-border: hsl(0, 0%, 20%);

  --clr-header-border: hsl(0, 0%, 20%);
  --clr-footer-border: hsl(0, 0%, 20%);

  --clr-text-muted: hsl(0, 0%, 60%);

  --clr-modeswitcher-border: hsl(0, 0%, 20%);

  --clr-callout-default-bg: hsl(0, 0%, 15%);

  --clr-callout-note-bg: hsl(0, 0%, 20%);
  --clr-callout-note-border: hsl(0, 0%, 60%);
  --clr-callout-info-bg: hsl(213, 100%, 16%);
  --clr-callout-info-border: hsl(213, 100%, 70%);
  --clr-callout-warning-bg: hsl(343, 71%, 27%);
  --clr-callout-warning-border: hsl(343, 70%, 39%);

  --clr-quiz-container-bg: hsl(0, 0%, 20%);
  --clr-quiz-container-border: hsl(0, 0%, 25%);
  --clr-quiz-result-bg: hsl(0, 0%, 40%);
  --clr-quiz-result-correct-bg: hsl(109, 100%, 20%);
  --clr-quiz-wrong: hsl(0, 61%, 58%);
}

header {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--clr-header-border);
}
header h1 {
  padding: 0;
  margin: 0;
}
header h1 a,
header h1 a:visited,
header h1 a:hover {
  color: inherit;
  text-decoration: none;
}

nav a {
  margin-right: 1rem;
}

a {
  text-decoration: none;
  color: var(--clr-anchor);
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: var(--clr-anchor-visited);
}

button {
  padding: 0.5rem 1.25rem;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;

  background-color: var(--clr-button-bg);
  color: var(--clr-button-fg);

  transition: background-color 150ms ease-in-out;
}
button:hover {
  background-color: var(--clr-button-bg-hover)
}

h1, h2, h3 {
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 0.5rem;
}

ul, ol {
  list-style-position: inside;
}

table {
    border-collapse: collapse;
    margin: 1rem 0;
    font-family: sans-serif;
}
table thead tr {
    background-color: var(--clr-table-thead-bg);
    color: var(--clr-table-thead-fg);
    text-align: left;
}
table th,
table td {
    padding: 0.3rem 0.8rem;
}


table tbody tr {
    border-bottom: 1px solid var(--clr-table-tr-border);
}

table tbody tr:last-of-type {
    border-bottom: 2px solid var(--clr-table-tr-border);
}

footer {
  margin-top: 2rem;
  border-top: 1px solid var(--clr-footer-border);
}

footer,
footer > div {
  width: 100%;
}

footer #lesson-nav div {
  padding-top: 1rem;
  display: flex; 
  justify-content: space-between;
  gap: 0.5rem; /* ensure a gap between navigation elements */
}

footer #lesson-nav div a {
  display: inline-block;
  flex: 1;
}
footer #lesson-nav div a.next {
  text-align: right;
}

footer .info {
  margin-top: 1rem;
  font-size: 0.8rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer .info p {
  margin-bottom: 0;
}
footer .info .muted,
footer .info .muted a {
  color: var(--clr-text-muted);
}

footer .info .appearance-controls {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
footer .info .appearance-controls a[data-appearance] {
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid var(--clr-modeswitcher-border);

  transition: transform 75ms ease-in-out;
}
footer .info .appearance-controls a[data-appearance]:hover {
  text-decoration: none;
  transform: scale(1.1);
}

footer .info .appearance-controls a[data-appearance].active::before {
  content: "✓";
  
  width: 100%;
  height: 100%;

  font-size: 0.6rem;

  color: inherit;

  display: flex;
  align-items: center;
  justify-content: center;
}

footer .info .appearance-controls a[data-appearance="light"] {
  background-color: var(--clr-lightmode-bg);
  color: var(--clr-lightmode-fg);
}
footer .info .appearance-controls a[data-appearance="book"] {
  background-color: var(--clr-bookmode-bg);
  color: var(--clr-bookmode-fg);
}
footer .info .appearance-controls a[data-appearance="dark"] {
  background-color: var(--clr-darkmode-bg);
  color: var(--clr-darkmode-fg);
}

.callout {
  border-left: 4px solid;
  padding: 0.75rem 1rem;
  margin: 1rem 0;
  border-radius: 4px;
  background: var(--clr-callout-default-bg);
  
  font-size: 0.9rem;
}

.callout > p {
  margin-bottom: 0.2rem;
}

.callout-title {
  font-weight: bold;
  font-size: 1rem;
}

.callout-note {
  border-color: var(--clr-callout-note-border);
  background: var(--clr-callout-note-bg);
}

.callout-info {
  border-color: var(--clr-callout-info-border);
  background: var(--clr-callout-info-bg);
}

.callout-warning {
  border-color: var(--clr-callout-warning-border);
  background: var(--clr-callout-warning-bg);
}

/* quiz styling */
div[data-quiz-id] {
  padding: 1rem 1rem;
  
  background-color: var(--clr-quiz-container-bg);
  border: 1px solid var(--clr-quiz-container-border);
  border-radius: 4px;
}
div[data-quiz-id] > h3.quiz-heading {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
}
div[data-quiz-id] div.quiz-question {
  margin-bottom: 0.75rem;
}
div[data-quiz-id] div.quiz-question > p {
  margin-bottom: 0.25rem;
}
div[data-quiz-id] div.quiz-question > p.wrong {
  color: var(--clr-quiz-wrong);
}
div[data-quiz-id] div.quiz-question > label {
  display: block;
  cursor: pointer;
}
div[data-quiz-id] div.quiz-result {
  padding: 0.25rem 0.75rem;
  background-color: var(--clr-quiz-result-bg);
  border-radius: 4px;
  width: 100%;
  text-align: center;
  margin-top: 0.5rem;
}
div[data-quiz-id] div.quiz-result:empty {
  padding: 0;
  margin: 0;
  height: 0;
}
div[data-quiz-id] div.quiz-result.correct {
  background-color: var(--clr-quiz-result-correct-bg);
}